div.wrapper .hdrWrap header .search ul input{
    width: 75%;
}
div.wrapper .hdrWrap header .search ul button{
    width: 40px;
}
div.wrapper .hdrWrap header .menuTap nav{
    width: calc(90% - 20px); margin-right: 20px;
}
div.wrapper .hdrWrap header .menuTap ul{
    display: none;
}

div.mainSection .mainSlide section{
    height: 440px;
}
div.mainSection .mainSlide .btns{
    top: 400px;
}
div.mainSection .mainSlide section{
    height: 440px;
}
div.mainSection .mainSlide section article .image{
    height: 440px;
}
div.mainSection .mainSlide section article .texts{
    padding: 60px 40px;
}
div.mainSection .recommend .djPick{
    display: none;
}
div.mainSection .recommend section article .title{
    padding-left: 30px;
}
div.mainSection .mainSlide section article .gradOverlay{
    height: 300px;
}

div.content{
    padding-top: 60px;
}
div.ct1{
    padding-top: 120px;
}
div.ct1 section .swiper-container .swiper-wrapper .swiper-slide .image{
    height: 180px;
}
div.ct2 section .swiper-container .swiper-wrapper .swiper-slide .image{
    height: 180px;
}
div.ct3 section .swiper-container .swiper-wrapper .swiper-slide .image{
    height: 120px;
}
div.banner{
    padding-top: 60px;
}
div.banner section .image{
    height: 120px;
}
div.ct4{
    padding-bottom: 180px;
}
div.ct4 section .swiper-container .swiper-wrapper .swiper-slide .image{
    height: 120px;
}


div.fixedPlayer .pWrapper .title{
    width: 30%;
}
div.fixedPlayer .pWrapper .btn1{
    width: 30%; margin-right: 30px;
}
div.fixedPlayer .pWrapper .playbar{
    width: 40%; margin-right: 10px;
}
div.fixedPlayer .pWrapper .playbar ul li{
    margin: 0 10px;
}