/*sub1_mx1200.css*/
div.fixedBar{
    width: 270px; left: -270px;
}
div.fixedBar .logo{
    background-size: 100%;
    margin-left: 50px;
}
div.fixedBar .category{
    margin-top: 0;
}
div.fixedBar .category dl{
    width: calc(100% - 30px);
}
div.fixedBar .category dl dt{
    font-size: 16px; line-height: 50px;
}
div.fixedBar .category dl dt i{
    font-size: 22px; margin-right: 15px;
}
div.fixedBar .category hr{
    margin: 30px 50px;
}
div.wrapper .hdrWrap header .menuTap nav h2{
    font-size: 14px;
}
div.fixedPlayer{}
div.fixedPlayer .pWrapper .album .image{
    width: 60px; height: 60px;
}
div.fixedPlayer .pWrapper .title{
    width: 20%;
}
div.fixedPlayer .pWrapper .title ul h3{
    line-height: 20px; font-size: 18px;
}
div.fixedPlayer .pWrapper .title ul h5{
    font-size: 14px;
}
div.fixedPlayer .pWrapper .btn1 ul li{
    font-size: 24px;
}
div.fixedPlayer .pWrapper .playbar ul li{
    font-size: 18px;
}
div.fixedPlayer .pWrapper .playbar h5{
    font-size: 14px;
}
div.fixedPlayer .pWrapper .btn2 ul li{
    font-size: 18px;
}



div.wrapper .conHdr ul h2{
    font-size: 24px;
}
div.wrapper .conHdr h3{
    font-size: 20px; line-height: 80px;
}
div.wrapper .conHdr .btns button{
    width: 15%; font-size: 14px;
}
div.content section article .image{
    width: 90px; height: 90px;
}
div.content section article h4{
    font-size: 16px;
}