/*sub2.css*/
div.ct1{
    padding-top: 40px;
}
div.video-container{
    position:relative;padding-bottom:56.25%;padding-top:30px;height:0;overflow: hidden;
    border-radius: 10px;
}
div.video-container iframe,.video-container object,.video-container embed{
    position:absolute; top: 0; left: 0; width: 100%; height: 100%;
}

div.ct1 .texts{
    margin-top: 40px;
}
div.ct1 .texts ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
div.ct1 .texts ul h2{
    width: 80%; line-height: 40px;
}
div.ct1 .texts ul h5{
    color: #999; line-height: 20px;
    border-right: 1px solid #999;
    padding-right: 20px;
}
div.ct1 .texts ul h5:nth-of-type(2){
    border: 0;
    padding-right: 0;
}
div.ct1 .texts ul h5 i{
    margin-right: 5px;
}
div.ct1 .texts h3{
    margin-top: 40px;
}
div.ct1 .texts p{
    margin-top: 20px; color: #999;
}
div.ct1 .texts h6{
    text-align: center;
    line-height: 80px;
}

div.ct1 .artist{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
}
div.ct1 .artist .image{
    width: 80px; height: 80px; background-color: #ccc;
    border-radius: 100px;
    margin-right: 20px;
    background-image: url(../img/melon_sub2_vid.jpg);
    background-position: center;
}
div.ct1 .artist h3{
    width: 85%;
}
div.ct1 .artist h5{
    width: 10%; text-align: right; color: #999;
}
div.ct1 .artist h5 i{
    margin-right: 5px;
}



div.ct2{
    padding-top: 40px;
}
div.ct2 section{
    margin-top: 20px;
    overflow: hidden;
}
div.ct2 section .swiper-container{
    width: 170%;
    overflow: hidden;
}
div.ct2 section .swiper-container .swiper-wrapper{
    display: flex;
}
div.ct2 section .swiper-container .swiper-wrapper .swiper-slide{
    position: relative;
}
div.ct2 section .swiper-container .swiper-wrapper .swiper-slide .youtube iframe{
    border-radius: 10px;
}
div.ct2 section .swiper-container .swiper-wrapper .swiper-slide h5{
   line-height: 40px; font-weight: 500;
}



div.ct3{
    border-top: 1px solid #ebebeb;
    padding-top: 40px;
    margin-top: 40px;
}
div.ct3 section{}
div.ct3 section .cBox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #00cd3c; border-radius: 10px;
    padding: 40px;
    margin-top: 20px;
}
div.ct3 section .cBox .profile{
    width: 7%; margin-right: 10px;
}
div.ct3 section .cBox .profile .image{
    width: 80px; height: 80px; background-color: #ccc; border-radius: 100px; 
    background-image: url(../img/melon_header_profile.jpg);
    background-position: center;
}
div.ct3 section .cBox input{
    width: 84%; border-radius: 10px; border: 1px solid #999;
    height: 100px; 
    padding-left: 20px; color: #999;
    margin: 0 10px;
}
div.ct3 section .cBox .btn{
    width: 9%;
    text-align: right;
    margin-left: 10px;
}
div.ct3 section .cBox .btn button{
    width: 100%; max-width: 100px; height: 100px;
    border-radius: 10px; color: #00cd3c; border: 2px solid #00cd3c; background: 0;
    font-weight: 700;
}
div.ct3 section .cBox .btn button:hover{
    background-color: #00cd3c; color: #fff;
}

div.ct3 section .comment{}
div.ct3 section .comment ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 40px;
    margin-top: 20px;
}
div.ct3 section .comment ul h5{
    font-weight: 500;
    width: 85%;
}
div.ct3 section .comment ul h5 span{
    color: #00cd3c;
}
div.ct3 section .comment ul li{
    font-weight: 500; line-height: 20px; color: #999;
    cursor: pointer;
}
div.ct3 section .comment ul li:hover{
    color: #222;
}
div.ct3 section .comment ul li:nth-of-type(3){}


div.ct3 section article{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #ebebeb;
    padding: 20px 0 20px 40px;
}
div.ct3 section article .image{
    width: 80px; height: 80px; background-color: #ccc; border-radius: 100px; margin-right: 20px;
}
div.ct3 section article .peID{
    color: #222; line-height: 40px; font-weight: 500;
    width: 14%; margin-right: 20px;
}
div.ct3 section article ul{
    width: 60%; margin-right: 20px;
}
div.ct3 section article ul h6{
    color: #222; line-height: 40px;
}
div.ct3 section article ul li{
    color: #999; font-size: 12px;
}
div.ct3 section article ul li i{
    color: #00cd3c;
}
div.ct3 section article ol{
    display: flex;
}
div.ct3 section article ol li{
    font-size: 16px; margin-left: 20px;
}
div.ct3 section article ol li:nth-of-type(1){
    color: #f24f4f;
}
div.ct3 section article ol li:nth-of-type(2){
    color: #448ccb;
}
div.ct3 section article ol li:nth-of-type(3){
    color: #999;
}
div.ct3 section article:last-of-type{
    border-bottom: 1px solid #ebebeb;
}

div.ct3 section .pageBtn{
    text-align: center;
    margin-top: 40px;
    padding-bottom: 200px;
}
div.ct3 section .pageBtn button{
    width: 30px; height: 30px; border: 1px solid #ebebeb;
    background: 0; color: #999; border-radius: 5px;
}
div.ct3 section .pageBtn button:hover{
    color: #fff; background-color: #00cd3c;
}