div.wrapper .hdrWrap header .search ul input{
    width: 75%;
}
div.wrapper .hdrWrap header .search ul button{
    width: 40px;
}
div.wrapper .hdrWrap header .menuTap nav{
    width: calc(90% - 20px); margin-right: 20px;
}
div.wrapper .hdrWrap header .menuTap ul{
    display: none;
}
div.fixedPlayer .pWrapper .title{
    width: 30%;
}
div.fixedPlayer .pWrapper .btn1{
    width: 30%; margin-right: 30px;
}
div.fixedPlayer .pWrapper .playbar{
    width: 40%; margin-right: 10px;
}
div.fixedPlayer .pWrapper .playbar ul li{
    margin: 0 10px;
}

div.ct1 .texts ul h2{
    width: 70%;
}

div.ct2 section .swiper-container .swiper-wrapper .swiper-slide h5{
    line-height: 20px; margin-top: 10px;
}
div.ct2 section .swiper-container .swiper-wrapper .swiper-slide .youtube iframe{
    height: 120px;
}
div.ct3 section .cBox .profile{
    width: 15%; margin: 0;
}
div.ct3 section .cBox .profile .image{
    margin-right: 0;
}
div.ct3 section .cBox input{
    width: 65%;
}
div.ct3 section .cBox .btn{
    width: 18%;
}
div.ct3 section .comment ul h5{
    width: 70%;
}
div.ct3 section article ul{
    width: 35%;
}