/*sub2_mx1200.css*/
div.fixedBar{
    width: 270px; left: -270px;
}
div.fixedBar .logo{
    background-size: 100%;
    margin-left: 50px;
}
div.fixedBar .category{
    margin-top: 0;
}
div.fixedBar .category dl{
    width: calc(100% - 30px);
}
div.fixedBar .category dl dt{
    font-size: 16px; line-height: 50px;
}
div.fixedBar .category dl dt i{
    font-size: 22px; margin-right: 15px;
}
div.fixedBar .category hr{
    margin: 30px 50px;
}
div.wrapper .hdrWrap header .menuTap nav h2{
    font-size: 14px;
}
div.fixedPlayer{}
div.fixedPlayer .pWrapper .album .image{
    width: 60px; height: 60px;
}
div.fixedPlayer .pWrapper .title{
    width: 20%;
}
div.fixedPlayer .pWrapper .title ul h3{
    line-height: 20px; font-size: 18px;
}
div.fixedPlayer .pWrapper .title ul h5{
    font-size: 14px;
}
div.fixedPlayer .pWrapper .btn1 ul li{
    font-size: 24px;
}
div.fixedPlayer .pWrapper .playbar ul li{
    font-size: 18px;
}
div.fixedPlayer .pWrapper .playbar h5{
    font-size: 14px;
}
div.fixedPlayer .pWrapper .btn2 ul li{
    font-size: 18px;
}



div.wrapper .conHdr h2{
    font-size: 24px;
}
div.content header h3{
    font-size: 20px;
}
div.ct1{
    padding-top: 30px;
}
div.ct1 .texts ul h2{
    width: 75%; font-size: 24px;
}
div.ct1 .texts ul h5{
    border: 0; font-size: 14px;
}
div.ct1 .texts h3{
    font-size: 20px; margin-top: 30px;
}
div.ct1 .artist h3{
    font-size: 20px;
}
div.ct1 .artist h5{
    font-size: 14px;
}

div.ct2 section .swiper-container .swiper-wrapper .swiper-slide .youtube iframe{
    height: 170px;
}

div.ct3 section article ul{
    width: 50%;
}