div.wrapper{
    width: 100%;
}
div.wrapper .hdrWrap header .search ul input{
    width: 75%;
}
div.wrapper .hdrWrap header .search ul button{
    width: 40px;
}
div.wrapper .hdrWrap header .menuTap nav{
    width: calc(90% - 20px); margin-right: 20px;
}
div.wrapper .hdrWrap header .menuTap ul{
    display: none;
}
div.fixedPlayer .pWrapper .title{
    width: 30%;
}
div.fixedPlayer .pWrapper .btn1{
    width: 30%; margin-right: 30px;
}
div.fixedPlayer .pWrapper .playbar{
    width: 40%; margin-right: 10px;
}
div.fixedPlayer .pWrapper .playbar ul li{
    margin: 0 10px;
}

div.wrapper .conHdr ul li{
    margin-right: 40px;
}
div.wrapper .mainRoll section{
    height: 240px;
}
div.wrapper .mainRoll section .btns{
    top: 210px;
}
div.wrapper .mainRoll section .artgroup article{
    height: 240px;
}
div.wrapper .mainRoll section .artgroup article .image{
    height: 240px;
}

div.wrapper .ct1 header ul li{
    margin-right: 30px;
}
div.wrapper .ct1 section article:nth-of-type(4)~*{
    margin-top: 40px;
}
div.wrapper .ct1 section article .image{
    height: 260px;
}
div.wrapper .ct1 section article .overlay{
    height: 260px;
}
div.wrapper .ct1 section article .texts ul{
    display: none;
}
div.wrapper .ct1 section article .texts{
    padding: 20px;
}
div.wrapper .ct1 section article .texts h4{
    height: 40px; overflow: hidden;
}