/*common.css*/
@import url('all.css');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
@import url('http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');

@font-face{
    font-family: "NanumGothic-Regular";
    font-weight: 300;
    src: url('../../fonts/NanumGothic-Regular.ttf');
}
@font-face{
    font-family: "NanumGothic-Bold";
    font-weight: 500;
    src: url('../../fonts/NanumGothic-Bold.ttf');
}
@font-face{
    font-family: "NanumGothic-ExtraBold";
    font-weight: 700;
    src: url('../../fonts/NanumGothic-ExtraBold.ttf');
}


body{
    font-family: "NanumGothic";
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #222;
    letter-spacing: -1px;
    
    display: flex;
    position: relative;
    overflow-x: hidden;
}
body .image{
    border-radius: 10px;
}
h2{
    font-size: 30px; font-weight: 700;
}
h3{
    font-size: 24px; font-weight: 500;
}
h4{
    font-size: 18px; font-weight: 500;
}
h5{
    font-size: 16px;
}
h6{
    color: #999;
}
p{
    text-align: justify;
}
button{
    cursor: pointer;
}
*.clear::after{
    display: block; content:'';
    clear:both;
}

/*글로벌 헤더*/
div.wrapper{
    width: calc(100% - 360px);
}
div.wrapper .hdrWrap header{
    width: 90%; max-width: 1440px; margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 160px;
}
div.wrapper .hdrWrap header .search{
    width: 45%;
}
div.wrapper .hdrWrap header .search ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 80px;
}
div.wrapper .hdrWrap header .search ul li{
    width: 10%;
}
div.wrapper .hdrWrap header .search ul li i{
    font-size: 24px; color: #00cd3c;
    margin-top: 35px; margin-right: 10px;
}
div.wrapper .hdrWrap header .search ul input{
    color: #999; border: 0; border-bottom: 1px solid #999;
    width: 80%; padding: 30px 0 ; font-size: 16px; font-weight: 700;
}
div.wrapper .hdrWrap header .search ul input::placeholder{
    color: #999;
}
div.wrapper .hdrWrap header .search ul .btn{
    text-align: right;
}
div.wrapper .hdrWrap header .search ul button{
    background: 0; border: none; color: #00cd3c; font-weight: 700;
    cursor: pointer;
}

div.wrapper .hdrWrap header .menuTap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}
div.wrapper .hdrWrap header .menuTap nav{
    display: flex;
    justify-content: space-between;
    width: calc(70% - 20px);
}
div.wrapper .hdrWrap header .menuTap nav h2{
    font-size: 16px; font-weight: 500; color: #999;
}
div.wrapper .hdrWrap header .menuTap nav h2:hover{
    color: #00cd3c;
}
div.wrapper .hdrWrap header .menuTap nav h2 .clicked{
    color: #00cd3c;
}
div.wrapper .hdrWrap header .menuTap ul{
    display: flex;
    justify-content: space-around;
    width: calc(20% - 20px);
}
div.wrapper .hdrWrap header .menuTap ul li{
    font-size: 24px; color: #00cd3c;
    position: relative;
}
div.wrapper .hdrWrap header .menuTap ul li:last-child::after{
    display: block; content: '';
    width: 6px; height: 6px; background-color: #f00; border-radius: 10px;
    position: absolute; top: -10px; right: -6px;
}
div.wrapper .hdrWrap header .menuTap .profile{
    width: 60px;
}
div.wrapper .hdrWrap header .menuTap .profile .image{
    height: 60px; border-radius: 100px;
    background-image: url(../img/melon_header_profile.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}

/*고정 바*/
div.fixedBar{
    width: 360px;
    background-color: #00cd3c;
    padding: 40px 0;
}
div.fixedBar .showBtn{
    position: absolute;
    width: 30px; height: 100px; background-color: #00cd3c;
    border-radius: 0 20px 20px 0; border: 0;
    right: -30px; top: 50px;
    box-shadow: 5px 2px 6px rgba(0,0,0,0);
    transition: 0.1s;
    display: none;
}
div.fixedBar .showBtn:hover{
    transform: scale(1.1);
    box-shadow: 5px 2px 6px rgba(0,0,0,0.08);
}
div.fixedBar .logo{
    background-image: url(../img/logo.png);
    width: 20%; height: 120px;
    background-repeat: no-repeat;
    cursor: pointer;
    margin-left: 60px;
}
div.fixedBar .logo a{
    width: 100%; height: 100%;
    color: transparent;
    text-indent: -9999px;
    display: block;
}
div.fixedBar .category{
    margin-top: 20px;
}
div.fixedBar .category dl{
    color: #fff; cursor: pointer;
    width: calc(100% - 40px); margin-left: auto;
}
div.fixedBar .category dl dt{
    font-size: 18px; font-weight: 500; line-height: 60px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 30px 0 0 30px;
    padding-left: 20px;
    margin-top: 5px;
}
div.fixedBar .category dl dt:hover{
    background-color: #fff; color: #00cd3c;
}
div.fixedBar .category dl dt i{
    width: 10%;
    font-size: 24px; margin-right: 20px;
}
div.fixedBar .category dl dd{
    line-height: 30px; margin-left: 70px;
    display: none;
}
div.fixedBar .category dl dd:first-of-type{
    margin-top: 10px;
}
div.fixedBar .category hr{
    height: 1px; background-color: rgba(255, 255, 255, 0.7);
    margin: 40px 60px;
}


/*글로벌 콘텐츠*/
div.content{
    width: 90%; max-width: 1440px; margin: 0 auto;
    padding-top: 120px;
}
div.content header{}
div.content header nav{
    display: flex;
    justify-content: space-between;
}

div.wrapper .conHdr{
    width: 90%; max-width: 1440px; margin: 0 auto;
    margin-top: 40px;
}

/*버튼*/
div.playbtn{
    position: absolute; right: 20px; top: 20px; font-size: 18px; color: #fff;
    text-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

/*배너*/
div.banner{
    width: 90%; max-width: 1440px; margin: 0 auto;
    padding-top: 120px;
}

/*글로벌 푸터*/
div.fixedPlayer{
    position: fixed; bottom: -130px; left: 0;
    width: 100%;
    background: linear-gradient(45deg, #000 0%, #0c212d 30%, #2b1714 60%, #000 100%);
    color: #fff;
    padding: 25px 0;
    z-index: 3;
    transition: bottom .3s;
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);
}
div.fixedPlayer.show{
    bottom: 0;
}
div.fixedPlayer li:hover{
    color: #00cd3c;
}
div.fixedPlayer .pWrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%; margin: 0 auto;
}

div.fixedPlayer .pWrapper .album .image{
    width: 80px; height: 80px; background-color: #eee;
    border-radius: 50px;
    background-size: cover;
    background-position: center;
    background-image: url(../img/melon_player_album.jpg);
}

div.fixedPlayer .pWrapper .title{
    width: 15%; margin: 0 20px;
}
div.fixedPlayer .pWrapper .title ul h3{
    line-height: 40px;
}

div.fixedPlayer .pWrapper .btn1{
    width: 20%; margin-right: 100px;
}
div.fixedPlayer .pWrapper .btn1 ul{
    display: flex;
    justify-content: space-between;
}
div.fixedPlayer .pWrapper .btn1 ul li{
    font-size: 30px;
}

div.fixedPlayer .pWrapper .playbar{
    width: 35%; margin-right: 100px;
}
div.fixedPlayer .pWrapper .playbar ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
div.fixedPlayer .pWrapper .playbar ul li{
    font-size: 24px;
}
div.fixedPlayer .pWrapper .playbar ul .bar{
    width: 75%; 
    position: relative;
}
div.fixedPlayer .pWrapper .playbar ul .bar .full{
    height: 4px; border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.3);
}
div.fixedPlayer .pWrapper .playbar ul .bar .playing{
    background-color: #00cd3c; width: 40%; height: 4px;
    position: absolute; top: 0; left: 0;
    border-radius: 10px;
}
div.fixedPlayer .pWrapper .playbar ul .bar .playing::after{
    display: block; content: '';
    width: 12px; height: 12px; background-color: #fff;
    border-radius: 10px;
    position: absolute; right: 0; top: -4px; bottom: 0;
}

div.fixedPlayer .pWrapper .btn2 ul{
    display: flex;
    justify-content: space-between;
}
div.fixedPlayer .pWrapper .btn2 ul li{
    font-size: 24px; margin-left: 20px;
}