/*index.css*/
div.catTap{
    width: 90%; max-width: 1440px; margin: 0 auto;
}
div.catTap ul{
    display: flex;
    justify-content: center;
    width: 45%; 
}
div.catTap ul li{
    margin: 0 20px; color: #999; font-weight: 500;
    cursor: pointer;
}
div.catTap ul li:first-child{
    color: #00cd3c; font-weight: 500;
}
div.catTap ul li:hover{
    color: #00cd3c;
}

div.mainSection{
    width: 90%; max-width: 1440px; margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
div.mainSection .mainSlide{
    width: 45%;
    position: relative;
    margin-top: 40px;
    border-radius: 10px;
    overflow: hidden;
}
div.mainSection .mainSlide .btns{
    display: flex;
    justify-content: center;
    position: absolute; top: 780px; left: 0; right: 0;
    z-index: 1;
}
div.mainSection .mainSlide .btns div{
    width: 8px; height: 8px; background-color: #FFF; border: 0;
    border-radius: 10px; margin: 0 5px;
    cursor: pointer;
}
div.mainSection .mainSlide .btns .clicked{
    background-color: #00cd3c;
}
div.mainSection .mainSlide section{
    width: 500%;
    height: 840px;
    display: flex;
    margin-left: 0%;
}
div.mainSection .mainSlide section article{
    position: relative;
    width: 20%;
}
div.mainSection .mainSlide section article .image{
    width: 100%; height: 840px; background-color: #333;
    background-position: center;
    background-size: cover;
}
div.mainSection .mainSlide section article .gradOverlay{
    width: 100%; height: 480px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #000 100%);
    position: absolute; bottom: 0; left: 0;
}
div.mainSection .mainSlide section article .texts{
    color: #fff; width: 100%; padding: 110px 50px;
    position: absolute; bottom: 0;
}
div.mainSection .mainSlide section article .texts h2{
    font-size: 48px; line-height: 80px; font-weight: 700;
}
div.mainSection .mainSlide section article .texts h3{
    line-height: 30px;
}

div.mainSection .mainSlide section article .i1{background-image: url(../img/index_slide_03.jpg);}
div.mainSection .mainSlide section article .i2{background-image: url(../img/index_slide_02.jpg);}
div.mainSection .mainSlide section article .i3{background-image: url(../img/melon_index_01.jpg);}
div.mainSection .mainSlide section article .i4{background-image: url(../img/index_slide_04.jpg);}
div.mainSection .mainSlide section article .i5{background-image: url(../img/index_slide_05.webp);}



div.mainSection .recommend{
    width: 50%;
    margin-top: 40px;
}
div.mainSection .recommend .image{
    background-size: cover;
    background-position: center;
}
div.mainSection .recommend .personal{}
div.mainSection .recommend .today{
    margin-top: 40px;
}
div.mainSection .recommend .djPick{
    margin-top: 40px;
}
div.mainSection .recommend header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
div.mainSection .recommend section article{
    position: relative;
    margin-top: 20px;
}
div.mainSection .recommend .today section{
    display: flex;
    justify-content: space-between;
}
div.mainSection .recommend .today section article{
    width: calc(50% - 10px);
}
div.mainSection .recommend section article .image{
    height: 200px; background-color: #333;
}
div.mainSection .recommend section article .title{
    color: #fff; text-shadow: 0 2px 5px rgba(0,0,0,0.3);
    width: 100%; height: 100px; margin: auto;
    position: absolute; top: 0; bottom: 0;
    padding-left: 40px;
}
div.mainSection .recommend .today section article .title{
    height: 40px; width: 85%;
}
div.mainSection .recommend section article .title h3{
    font-size: 30px; line-height: 60px;
}
div.mainSection .recommend .djPick .texts header h3 span{
    margin-left: 10px; color: #00cd3c;
}
div.mainSection .recommend .djPick .texts section{
    margin-top: 20px;
    height: 240px; 
    overflow: hidden;
    
}
div.mainSection .recommend .djPick .texts section .artgroup{
    position: relative;
    top: -33.33%;
}
div.mainSection .recommend .djPick .texts section article{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #999;
    margin-top: 0;
    transition:opacity 0.4s;
}
div.mainSection .recommend .djPick .texts section article.opacity{
    opacity: 0.3;
}
div.mainSection .recommend .djPick .texts section article .texts{
    font-size: 16px; line-height: 80px;
    display: flex;
}
div.mainSection .recommend .djPick .texts section article .texts h5{
    color: #999; margin-right: 30px;
}
div.mainSection .recommend .djPick .texts section article .texts h5 span{
    color: #222;
}
div.mainSection .recommend .djPick .texts section article .icons ul{
    display: flex;
}
div.mainSection .recommend .djPick .texts section article .icons ul li{
    color: #00cd3c; font-size: 24px; margin-left: 10px;
}

div.mainSection .recommend .personal .image{
    background-image: url(../img/melon_index_02.jpg);
}
div.mainSection .recommend .today .i1{
    background-image: url(../img/melon_index_03.jpg);
}
div.mainSection .recommend .today .i2{
    background-image: url(../img/melon_index_4.jpg);
}



div.ct1{}
div.ct1 section{
    margin-top: 20px;
    overflow: hidden;
}
div.ct1 section .swiper-container{
    width: 170%;
    overflow: hidden;
}
div.ct1 section .swiper-container .swiper-wrapper{
    display: flex;
}
div.ct1 section .swiper-container .swiper-wrapper .swiper-slide{
    position: relative;
}
div.ct1 section .swiper-container .swiper-wrapper .swiper-slide .image{
    height: 360px; background-color: #333;
    background-size: cover;
    background-position: center;
}
div.ct1 section .swiper-container .swiper-wrapper .swiper-slide .texts{
    margin-top: 20px;
}

div.ct1 section .swiper-container .swiper-wrapper .swiper-slide .i1{background-image: url(../img/melon_index_5.jpg);}
div.ct1 section .swiper-container .swiper-wrapper .swiper-slide .i2{background-image: url(../img/melon_index_6.jpg);}
div.ct1 section .swiper-container .swiper-wrapper .swiper-slide .i3{background-image: url(../img/melon_index_7.jpg);}
div.ct1 section .swiper-container .swiper-wrapper .swiper-slide .i4{background-image: url(../img/melon_index_8.jpg);}
div.ct1 section .swiper-container .swiper-wrapper .swiper-slide .i5{background-image: url(../img/index_01.jpg);}
div.ct1 section .swiper-container .swiper-wrapper .swiper-slide .i6{background-image: url(../img/index_02.jpg);}



div.ct2{}
div.ct2 section{
    margin-top: 20px;
    overflow: hidden;
}
div.ct2 section .swiper-container{
    width: 170%;
    overflow: hidden;
}
div.ct2 section .swiper-container .swiper-wrapper{
    display: flex;
}
div.ct2 section .swiper-container .swiper-wrapper .swiper-slide{
    position: relative;
}
div.ct2 section .swiper-container .swiper-wrapper .swiper-slide .image{
    height: 360px; background-color: #333;
    background-size: cover;
    background-position: center;
}
div.ct2 section .swiper-container .swiper-wrapper .swiper-slide .texts{
    margin-top: 20px;
}

div.ct2 section .swiper-container .swiper-wrapper .swiper-slide .i1{background-image: url(../img/melon_index_9.jpg);}
div.ct2 section .swiper-container .swiper-wrapper .swiper-slide .i2{background-image: url(../img/melon_index_10.jpg);}
div.ct2 section .swiper-container .swiper-wrapper .swiper-slide .i3{background-image: url(../img/melon_index_11.jpg);}
div.ct2 section .swiper-container .swiper-wrapper .swiper-slide .i4{background-image: url(../img/melon_index_12.jpg);}
div.ct2 section .swiper-container .swiper-wrapper .swiper-slide .i5{background-image: url(../img/index_03.jpg);}
div.ct2 section .swiper-container .swiper-wrapper .swiper-slide .i6{background-image: url(../img/index_04.jpg);}



div.ct3{}
div.ct3 section{
    margin-top: 20px;
    overflow: hidden;
}
div.ct3 section .swiper-container{
    width: 170%;
    overflow: hidden;
}
div.ct3 section .swiper-container .swiper-wrapper{
    display: flex;
}
div.ct3 section .swiper-container .swiper-wrapper .swiper-slide{
    position: relative;
}
div.ct3 section .swiper-container .swiper-wrapper .swiper-slide .image{
    height: 240px; background-color: #333;
    background-size: cover;
    background-position: center;
}
div.ct3 section .swiper-container .swiper-wrapper .swiper-slide .texts{
    margin-top: 20px;
}
div.ct3 section .swiper-container .swiper-wrapper .swiper-slide .i1{background-image: url(../img/melon_index_13.jpg);}
div.ct3 section .swiper-container .swiper-wrapper .swiper-slide .i2{background-image: url(../img/melon_index_14.jpg);}
div.ct3 section .swiper-container .swiper-wrapper .swiper-slide .i3{background-image: url(../img/melon_index_15.jpg);}
div.ct3 section .swiper-container .swiper-wrapper .swiper-slide .i4{background-image: url(../img/melon_index_16.jpg);}
div.ct3 section .swiper-container .swiper-wrapper .swiper-slide .i5{background-image: url(../img/index_05.webp);}
div.ct3 section .swiper-container .swiper-wrapper .swiper-slide .i6{background-image: url(../img/index_06.jpg);}



div.banner section{}
div.banner section .image{
    height: 200px; background-color: #333;
    background-size: cover;
    background-position: center;
    background-image: url(../img/melon_index_17.jpg);
}


div.ct4{
    padding: 120px 0 260px;
}
div.ct4 section{
    margin-top: 20px;
    overflow: hidden;
}
div.ct4 section .swiper-container{
    width: 170%;
    overflow: hidden;
}
div.ct4 section .swiper-container .swiper-wrapper{
    display: flex;
}
div.ct4 section .swiper-container .swiper-wrapper .swiper-slide{
    position: relative;
}
div.ct4 section .swiper-container .swiper-wrapper .swiper-slide .image{
    height: 200px; background-color: #333;
    background-size: cover;
    background-position: center;
}
div.ct4 section .swiper-container .swiper-wrapper .swiper-slide .image .time{
    text-align: right;
    width: 100%; height: 100%;
    padding: 10px 20px;
}
div.ct4 section .swiper-container .swiper-wrapper .swiper-slide .image .time h6{
    color: #fff; text-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
}
div.ct4 section .swiper-container .swiper-wrapper .swiper-slide .texts{
    margin-top: 20px;
}

div.ct4 section .swiper-container .swiper-wrapper .swiper-slide .i1{background-image: url(../img/melon_index_18.jpg);}
div.ct4 section .swiper-container .swiper-wrapper .swiper-slide .i2{background-image: url(../img/melon_index_19.jpg);}
div.ct4 section .swiper-container .swiper-wrapper .swiper-slide .i3{background-image: url(../img/melon_index_20.jpg);}
div.ct4 section .swiper-container .swiper-wrapper .swiper-slide .i4{background-image: url(../img/melon_index_21.jpg);}
div.ct4 section .swiper-container .swiper-wrapper .swiper-slide .i5{background-image: url(../img/index_07.jpg);}
div.ct4 section .swiper-container .swiper-wrapper .swiper-slide .i6{background-image: url(../img/index_08.jpg);}