div.wrapper .hdrWrap header .search ul input{
    width: 75%;
}
div.wrapper .hdrWrap header .search ul button{
    width: 40px;
}
div.wrapper .hdrWrap header .menuTap nav{
    width: calc(90% - 20px); margin-right: 20px;
}
div.wrapper .hdrWrap header .menuTap ul{
    display: none;
}
div.fixedPlayer .pWrapper .title{
    width: 30%;
}
div.fixedPlayer .pWrapper .btn1{
    width: 30%; margin-right: 30px;
}
div.fixedPlayer .pWrapper .playbar{
    width: 40%; margin-right: 10px;
}
div.fixedPlayer .pWrapper .playbar ul li{
    margin: 0 10px;
}


div.content section article .image{
    width: 70px; height: 65px;
}